@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #000;
  }
}

@layer base {
  body {
    width: 100dvw;
    height: 100dvh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
