@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #000;
  }
}

@layer base {
  html {
    font-size: 62.5%;

    with: 100dvw;
    height: 100dvh;
  }

  body {
    width: 100%;
    height: 100%;
  }

  #app {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: scroll;

    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
